body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* .dark-mode {
  background-color: #fff;
  color: rgb(0, 0, 0);
} */

#title{
    background-color: #000000;
  }
  
  
  /*Navbar*/
  
  .logo{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    margin: 0 auto;
  }
  
  .rockz{
    text-align: center;
      position: absolute;
      left: 28px;
      bottom: 4px;
      color: #ffffff;
      display: none;
  } 
  
  .logo:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(0.6); 
    font-family: system-ui;
  }
  
  .container-fluid{
    padding: 1% 4% 0%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 12px;
  }
  
  .navbar-brand img {
    height: 50px;
  }
  
  .navbar-nav {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
  
  .nav-link:hover {
    color: #9c27b0;
  }
  
  /* Ensure the dropdown menu is hidden initially */
  .nav-item.dropdown .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
  }
  
  /* Show the submenu when hovering over the parent menu item */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute; /* Ensures the submenu doesn't push down content */
    top: 100%;
    left: 0;
    z-index: 1000;
  }
  
  .dropdown-item{
    color:#ffffff;
  }
  
  .dropdown-item:hover{
    color:#9c27b0;
    background-color: #ffffff;
  }
  
  /* Ensuring the dropdown-toggle cursor still behaves like a button */
  .nav-item.dropdown:hover .nav-link {
    cursor: pointer;
  }
  
  
  /* Responsive styling for mobile and tablets */
  @media (max-width: 962px){
    .navbar-collapse {
      position: fixed;
      top: 0;
      right: -300px;
      width: 250px;
      height: 100%;
      background-color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: right 0.3s ease-in-out;
      z-index: 1000;
    }
  }
  
    .navbar-collapse.open {
      right: 0;
    }
  
    .navbar-nav {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .navbar-toggler {
      border: none;
      background-color: #9c27b0;
    }
  
    .navbar-toggler-icon {
      color: #333;
    }

    .header {
      background-color: #000;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px;
    }

    .header h1 {
      font-size: 42px;
      font-weight: 650;
    }

    .header p {
      font-size: 20px;
    }

    .cmp-image__image{
      width: 560px;
      height: 355px;
    }

    .about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px;
    }

    .about div {
      flex: 1;
    }

    .about img{
      width: 450px;
    height: 240px;
    }

    .about h2{
      font-size: 45px;
      font-family: Inter;
      font-weight: 400;
      color: #da00ff;
    }

    .about p {
      font-size: 18px;
    }

    .about button {
      margin-right: 10px;
      padding: 10px 20px;
      font-size: 16px;
      border: 1px solid #000;
      background-color: #fff;
      cursor: pointer;
      border-radius: 5px;
    }

    .choose{
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
    }

    .choose h2{
      font-size: 45px;
      font-family: Inter;
      font-weight: 400;
      margin-bottom: 35px;
      color: #da00ff;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1200px;
      margin: 0px auto;
      padding: 10px;
      gap: 20px; 
    }

    .offer{
      font-size: 45px;
      font-family: Inter;
      font-weight: 400;
      color:#da00ff;
    }


    .card1{
      padding-right: 12px;
      margin-right: 50px;
      text-align: center;
    }
    
    .Audit-heading {
      cursor: pointer;
      display: inline-block;
      color: #ffffff;
      transition: color 0.3s ease;
      font-size: 25px;
    }

    .Audit-heading:hover {
      color: #9c27b0;
    }

    .hidden-paragraph1 {
      display: none;
      margin-top: 10px;
      color: #ffffff;
    }

    .Audit-heading:hover + .hidden-paragraph1 {
      display: block;
    }

    .card-img-1{
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }

    .Research-heading {
      cursor: pointer;
      display: inline-block;
      color: #ffffff;
      transition: color 0.3s ease;
      font-size: 25px;
    }

    .Research-heading:hover {
      color: #9c27b0;
    }

    .hidden-paragraph2 {
      display: none;
      margin-top: 10px;
      color: #ffffff;
    }

    .Research-heading:hover + .hidden-paragraph2 {
      display: block;
    }


    .card2{
      padding-right: 12px;
      margin-right: 50px;
      text-align: center;
    }

    .card3{
      padding-right: 12px;
      margin-right: 50px;
      text-align: center;
    }












    /*footer*/

    #contact{
      background-color: #000000;
      padding: 2% 0%;
      text-align: center;
    }
    
    .social-icon{
      margin: 20px 10px;
      color: #fff;
    }
    
    .social-icon:hover{
      color: #9c27b0;
    }
    
    
    .copy{
      color: #fff;
    }